/* Global CSS Start */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn-primary {
  border-radius: 48px;
  background: #ff42a5;
  padding: 20px 40px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn-secondary {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 20px 40px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn-primary:hover {
  background-color: #b60962;
}
.btn-secondary:hover {
  background-color: #1a98ce;
}
.text-gradient {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}
/* Global CSS End */

/* Navbar CSS Start */
.navbar-section {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;
}
.logo-area {
  display: flex;
  align-items: center;
}
.logo-area h3 {
  color: #0b0223;
  margin-left: 20px;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 38px 0;
}
.logo-area h3 span {
  color: #ff42a5;
}
.main-menu {
  display: flex;
  align-items: center;
}
.main-menu ul {
  display: flex;
}
.main-menu ul li {
  list-style: none;
  margin-right: 32px;
}
.main-menu ul li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
}
.followers-area {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.followers-area h4 {
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 18px 24px;
}
.followers-area a {
  margin-right: 16px;
}
/* Navbar CSS End */

/* Banner CSS Start */
.banner-section {
  background-image: url("../images/Group14.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}
.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  padding: 148px 0;
}
.banner-text h2 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner-text h1 {
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 5rem;
}
.banner-text ul {
  margin: 30px 0;
}
.banner-text ul li {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 17px;

  list-style: none;
}
.banner-btn-area button {
  margin-right: 24px;
}
.banner-img img {
  width: 100%;
}

/* Banner CSS End */
/* We Are Gamer CSS Start */
.we-are-gamer-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.we-are-gamer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0;
}
.we-are-gamer-img {
  flex-shrink: 0;
}
.we-are-gamer-img img {
  width: 100%;
}
.we-are-gamer-text {
  text-align: right;
  margin-left: 50px;
}
.we-are-gamer-text p {
  color: #534c64;
  font-size: 1.2rem;
  line-height: 1.9rem;
  margin: 24px 0;
}
.we-are-gamer-text h3 {
  margin-top: 24px;
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
}
.we-are-gamer-text h3 span {
  font-size: 1.5rem;
  font-weight: 500;
}
/* We Are Gamer CSS End */
/* Online Games CSS Start */
.online-games-section {
  padding: 120px 0;
  text-align: center;
}
.online-games-section p {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-top: 16px;
}
.online-games-content {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.games-card h4 {
  text-align: left;
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-top: 24px;
}
/* Online Games CSS End */
/* Game Download CSS Start */
.game-download-section {
  margin-bottom: 200px;
}
.game-download-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-download-text {
  text-align: right;
  margin-right: 260px;
  margin-left: 100px;
}
.game-download-text p {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-top: 24px;
}
.game-download-img {
  position: relative;
}
.game-top-img {
  position: absolute;
  bottom: -15%;
  left: -25%;
}
.game-download-2 {
  margin-top: 200px;
}
.game-top-img2 {
  position: absolute;
  bottom: -15%;
  right: -25%;
}
.game-download-text2 {
  text-align: left;
  margin-left: 260px;
  margin-right: 100px;
}
/* Game Download CSS End */

/* Media Queries Breakpoints Start  */

/* Mobile Devices */
@media screen and (max-width: 576px) {
  .navbar-section,
  .main-menu ul,
  .we-are-gamer-content,
  .online-games-content,
  .game-download-content {
    flex-direction: column;
    padding: 20px;
  }
  .navbar-section {
    box-shadow: none;
  }
  .main-menu {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .logo-area h3,
  .banner-text {
    padding: 20px 0;
  }
  .main-menu ul li {
    margin: 20px 0;
  }
  .banner-content,
  .game-download-2 {
    flex-direction: column-reverse;
  }
  .banner-text {
    padding: 80px 0;
  }
  .banner-section {
    padding: 0 20px;
    background-size: cover;
  }
  .banner-btn-area {
    display: flex;
    flex-direction: row;
  }
  .we-are-gamer-text {
    text-align: center;
    margin-left: 0;
  }
  .games-card img {
    width: 100%;
  }
  .games-card h4 {
    text-align: center;
  }
  .game-download-text {
    text-align: center;
    margin: 0;
  }
  .game-download-text p {
    margin: 40px 0;
  }
  .game-download-img {
    margin-left: 50px;
  }
  .game-top-img {
    width: 180px;
    margin-left: 30px;
  }
  .game-download-2 {
    margin-top: 100px;
  }
  .game-download-text {
    text-align: center;
    margin: 0;
  }
  .game-download-text p {
    margin: 40px 0;
  }
  .game-download-img2 {
    margin-right: 50px;
    margin-left: 0;
  }
  .game-top-img2 {
    width: 180px;
    margin-right: 30px;
  }
  .game-download-img img,
  .game-top-img img {
    width: 100%;
  }
}
/* Tablet Devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  .navbar-section,
  .main-menu ul,
  .we-are-gamer-content,
  .online-games-content,
  .game-download-content {
    flex-direction: column;
    padding: 20px;
  }
  .navbar-section {
    box-shadow: none;
  }
  .main-menu {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .logo-area h3,
  .banner-text {
    padding: 20px 0;
  }
  .main-menu ul li {
    margin: 20px 0;
  }
  .banner-content,
  .game-download-2 {
    flex-direction: column-reverse;
  }
  .banner-text {
    padding: 80px 0;
  }
  .banner-section {
    padding: 0 20px;
    background-size: cover;
  }
  .banner-btn-area {
    display: flex;
    flex-direction: row;
  }
  .we-are-gamer-text {
    text-align: center;
    margin-left: 0;
  }
  .games-card img {
    width: 100%;
  }
  .games-card h4 {
    text-align: center;
  }
  .game-download-text {
    text-align: center;
    margin: 0;
  }
  .game-download-text p {
    margin: 40px 0;
  }
  .game-download-img {
    margin-left: 100px;
  }
  .game-top-img {
    width: 300px;
    margin-left: 50px;
  }
  .game-download-2 {
    margin-top: 100px;
  }
  .game-download-text {
    text-align: center;
    margin: 0;
  }
  .game-download-text p {
    margin: 40px 0;
  }
  .game-download-img2 {
    margin-right: 100px;
    margin-left: 0;
  }
  .game-top-img2 {
    width: 300px;
    margin-right: 50px;
  }
  .game-download-img img,
  .game-top-img img {
    width: 100%;
  }
}
/* Media Queries Breakpoints End  */
